
<!--navbar-->
<app-indexnavbar style="padding-bottom: 1px;"></app-indexnavbar>


<div class="container" style="padding-top: 80px;">
  <h1 class="text-center mb-4">Our Gadget Brands </h1>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-2">
      <img src="assets/msiLogo1.jpg" alt="MSI" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/asusLogo.png" alt="Asus" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/appleLogo.svg" alt="Apple" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/dellLogo.png" alt="Dell" class="brand-logo">
    </div>
  
  </div>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-2">
      <img src="assets/iqoo.png" alt="iQOO" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/oneplus.png" alt="OnePlus" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/realme.png" alt="Realme" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/poco.png" alt="Poco" class="brand-logo">
    </div>
  </div>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-2">
      <img src="assets/mi.png" alt="Xiaomi" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/oppo.png" alt="Oppo" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/boat.png" alt="boAt" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/noise.png" alt="Noise" class="brand-logo">
    </div>
  </div>

  <div class="row brand-container">
    <div class="col-md-2 offset-md-2">
      <img src="assets/sony.png" alt="Sony" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/crucial.png" alt="Crucial" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/Samsung.png" alt="Samsung" class="brand-logo">
    </div>
    <div class="col-md-2">
      <img src="assets/hplogo.png" alt="HP" class="brand-logo">
    </div>
    
  </div>

</div>

<!--Footer-->
<app-indexfooter></app-indexfooter>
